<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (_, ~{::body}, ~{})}">

<body>
<div class="py-5 text-center">
    <span class="h2">
        <a class="text-decoration-none" th:href="@{'/study/' + ${study.path}}">
            <span th:text="${study.title}"></span>
        </a>
        /새 모임 만들기
    </span>
</div>
<div class="row justify-content-center">
    <form class="needs-validation col-sm-12" action="#"
          th:action="@{'/study/' + ${study.path} + '/new-event'}" th:object="${eventForm}" method="post" novalidate>
        <div class="form-group mb-3">
            <label for="title">모임 이름</label>
            <input id="title" type="text"  class="form-control" th:field="*{title}" aria-describedby="titleHelp" required maxlength="50">
            <small id="titleHelp" class="form-text text-muted">모임 이름을 50자 이내로 입력하세요</small>
            <small class="invalid-feedback">모임 이름을 입력하세요</small>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</small>
        </div>

        <div class="form-group mb-3">
            <label for=eventType>모집 방법</label>
            <select id="eventType" class="form-select" aria-describedby="eventTypeHelp" th:field="*{eventType}" required>
                <option th:each="et : ${eventTypes}" th:value="${et.name}" th:text="${et.description}"></option>
            </select>
            <small id="eventTypeHelp" class="form-text text-muted">
                <span>모집 방법에는 크게 두가지 방법이 있습니다.</span><br>
                <span>
                    <strong>선착순</strong>으로 모집하는 경우, 모집 인원 이내의 접수는 자동으로 확정되며, 제한 인원을 넘는 신청은 대기 신청이 되며
                    이후에 확정된 신청 중에 취소가 발생하면 선착순으로 대기 신청자를 확정 신청자로 변경합니다. 단, 등록 마감일 이후에는
                    취소해도 확정 여부가 바뀌지 않습니다.
                </span><br>
                <span>
                    <strong>확인</strong>으로 모집하는 경우, 모임 및 스터디 관리자가 모임 신청 목록을 조회하고 직접 확정 여부를 정할 수 있습니다.
                    등록 마감일 이후에는 변경할 수 없습니다.
                </span>
            </small>
            <small class="invalid-feedback">모집 방법을 선택하세요</small>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('eventType')}" th:errors="*{eventType}">EventType Error</small>
        </div>

        <div class="form-group row mb-3">
            <div class="col-md-3">
                <label for="limitOfEnrollments">모집 인원</label>
                <input id="limitOfEnrollments" type="number" class="form-control" th:field="*{limitOfEnrollments}"
                       aria-describedby="limitOfEnrollmentsHelp" required min="2">
                <small id="limitOfEnrollmentsHelp" class="form-text text-muted">
                    최대 수용 가능한 모임 참석 인원을 설정하세요. 최소 2인 이상 모임이어야 합니다.
                </small>
                <small class="invalid-feedback">모집 인원을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('limitOfEnrollments')}" th:errors="*{limitOfEnrollments}">LimitOfEnrollments Error</small>
            </div>
            <div class="col-md-3">
                <label for="endEnrollmentDateTime">등록 마감 일시</label>
                <input id="endEnrollmentDateTime" type="datetime-local" class="form-control" th:field="*{endEnrollmentDateTime}"
                       aria-describedby="endEnrollmentDateTimeHelp" required>
                <small id="endEnrollmentDateTimeHelp" class="form-text text-muted">
                    등록 마감 이전에만 스터디 모임 참가 신청을 할 수 있습니다.
                </small>
                <small class="invalid-feedback">등록 마감 일시를 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('endEnrollmentDateTime')}" th:errors="*{endEnrollmentDateTime}">EndEnrollmentDateTime Error</small>
            </div>
            <div class="col-md-3">
                <label for="startDateTime">모임 시작 일시</label>
                <input id="startDateTime" type="datetime-local" class="form-control" th:field="*{startDateTime}"
                       aria-describedby="startDateTimeHelp" required>
                <small id="startDateTimeHelp" class="form-text text-muted">
                    모임 시작 일시를 입력하세요. 상세한 모임 일정은 본문에 적어주세요.
                </small>
                <small class="invalid-feedback">모임 시작 일시를 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('startDateTime')}" th:errors="*{startDateTime}">StartDateTime Error</small>
            </div>
            <div class="col-md-3">
                <label for="endDateTime">모임 종료 일시</label>
                <input id="endDateTime" type="datetime-local" class="form-control" th:field="*{endDateTime}"
                       aria-describedby="endDateTimeHelp" required>
                <small id="endDateTimeHelp" class="form-text text-muted">
                    모임 종료 일시가 지나면 모임은 자동으로 종료 상태로 바뀝니다.
                </small>
                <small class="invalid-feedback">모임 종료 일시를 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('endDateTime')}" th:errors="*{endDateTime}">EndDateTime Error</small>
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="description">모임 설명</label>
            <textarea id="description" type="text" class="form-control" th:field="*{description}" aria-describedby="descriptionHelp"></textarea>
            <small id="descriptionHelp" class="form-text text-muted">
                모임에서 다루는 주제, 장소, 진행 방식 등을 자세히 적어주세요.
            </small>
            <small class="invalid-feedback">모임 설명을 입력하세요.</small>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</small>
        </div>

        <div class="form-group d-grid gap-2 mb-3">
            <button class="btn btn-primary" type="submit">모임 만들기</button>
        </div>
    </form>
</div>
<script th:replace="~{fragments/scripts :: validate}"></script>
<script th:replace="~{fragments/scripts :: summernote-explanation ('#description')}"></script>
</body>
</html>