<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/layout :: layout (_, ~{::body}, ~{::alert})}">

<alert>
    <div th:if="${success == 'success.enroll'}" class="alert alert-info alert-dismissible fade show" role="alert" >
        <span>참가 신청을 제출했습니다.</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${success == 'success.cancel'}" class="alert alert-warning alert-dismissible fade show" role="alert" >
        <span>참가 신청을 취소했습니다.</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</alert>

<body>
<script>$(function (){ $('body').addClass("bg-white"); })</script>
<div class="col-12 py-5">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <span class="h2 col-8">
                    <a class="text-decoration-none" th:href="@{'/study/' + ${study.path} + '/events'}">
                        <span th:text="${study.title}"></span>
                    </a>
                    / <span th:text="${event.title}"></span>
                </span>
                <div class="col row gap-2 justify-content-end">
                    <div class="w-auto d-md-block text-end">
                        <a class="btn btn-outline-primary" th:href="@{'/study/' + ${study.path} + '/event/' + ${event.id} + '/edit'}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 수정</a>
                    </div>
                    <div class="w-auto d-md-block text-end">
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">
                                <i class="fa fa-trash-o" aria-hidden="true"></i> 삭제
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="mt-3" th:utext="${event.description}">Description</div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="border-top border-4 mb-3"></div>
            <div class="mb-3">
                <h5>모집방법</h5>
                <span th:text="${event.eventType.description}"></span>
            </div>
            <div class="mb-3">
                <h5>신청 마감일</h5>
                <span th:text="${#temporals.format(event.endEnrollmentDateTime, 'yyyy년 MM월 dd일 EEEE a hh:mm')}"></span>
            </div>
            <div class="mb-3">
                <h5>일시</h5>
                <span th:text="${#temporals.format(event.startDateTime, 'yyyy년 MM월 dd일 EEEE a hh:mm')}"></span> ~<br>
                <span th:text="${#temporals.format(event.endDateTime, 'yyyy년 MM월 dd일 EEEE a hh:mm')}"></span>
            </div>
            <div class="mb-3">
                <h5>모임장</h5>
                <a th:href="@{'/profile/' + ${event.createdBy.nickname}}" class="btn justify-content-between btn-light">
                    <th:block th:replace="~{fragments/header :: profileImage (${event.createdBy.profileImage}, ${event.createdBy.email})}"></th:block>
                    <span class="ms-2 pe-none" th:text="${event.createdBy.nickname}"></span>
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
            </div>
            <div class="mb-3">
                <h5>
                    모임 참가 신청 (<span th:text="${event.enrollments.size()}"></span>)
                    <a th:if="${event.isOwner(#authentication.principal.account)}" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#edit-enrollment-modal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </h5>
                <div class="row row-cols-2">
                    <span th:if="${event.enrollments.isEmpty}" class="text-muted">참가 신청이 없습니다</span>
                    <div th:each="enrollment : ${event.enrollments}" th:if="${enrollment.accepted}" class="col mb-3">
                        <a th:href="@{'/profile/' + ${enrollment.account.nickname}}" class="btn justify-content-between btn-outline-success">
                            <th:block th:replace="~{fragments/header :: profileImage (${enrollment.account.profileImage}, ${enrollment.account.email})}"></th:block>
                            <span class="ms-2 pe-none" th:text="${enrollment.account.nickname}"></span>
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div th:each="enrollment : ${event.enrollments}" th:if="${!enrollment.accepted}" class="col mb-3">
                        <a th:href="@{'/profile/' + ${enrollment.account.nickname}}" class="btn justify-content-between btn-light">
                            <th:block th:replace="~{fragments/header :: profileImage (${enrollment.account.profileImage}, ${enrollment.account.email})}"></th:block>
                            <span class="ms-2 pe-none" th:text="${enrollment.account.nickname}"></span>
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <h5>신청인원 / 승인인원 / 모집인원</h5>
                <span th:text="${event.enrollments.size()}"></span> /
                <span th:text="${event.acceptCount()}"></span> /
                <span th:text="${event.limitOfEnrollments}"></span>
            </div>
            <div class="form-group d-grid gap-2">
                <button th:if="${event.isEnrollable(#authentication.principal.account)}" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#enroll-modal">참가하기</button>
                <button th:if="${event.isEnrolled(#authentication.principal.account) && !event.isAttended(#authentication.principal.account)}" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#cancel-modal">참가취소</button>
                <button th:if="${event.isAttended(#authentication.principal.account)}" type="button" class="btn btn-secondary disabled">참가완료</button>
                <button th:if="${event.isEnrollDateTimeEnd() && !event.isEnrolled(#authentication.principal.account)}" type="button" class="btn btn-secondary disabled">참가신청마감</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel" th:text="${event.title}"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>모임을 삭제하시겠습니까?</p>
                <p>확인하시면 본 모임 및 참가 신청 관련 데이터를 삭제합니다.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <form method="post" th:action="@{'/study/' + ${study.path} + '/event/' + ${event.id} + '/delete'}">
                    <button type="submit" class="btn btn-primary">확인</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="enroll-modal" tabindex="-1" aria-labelledby="joinModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="joinModalLabel" th:text="${event.title}"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>모임에 참석하시겠습니까? 일정을 캘린더에 등록해 두시면 좋습니다.</p>
                <p>확인 버튼을 클릭하면 모임 참가 신청을 합니다.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <form method="post" th:action="@{'/study/' + ${study.path} + '/event/' + ${event.id} + '/enroll'}">
                    <button type="submit" class="btn btn-primary">확인</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:if="${event.isEnrolled(#authentication.principal.account)}" class="modal fade" id="cancel-modal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="cancelModalLabel" th:text="${event.title}"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>모임 참석을 취소하시겠습니까?</p>
                <p>확인 버튼을 클릭하면 모임 참가 신청을 취소합니다.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <form method="post" th:action="@{'/study/' + ${study.path} + '/event/' + ${event.id} + '/disenroll'}">
                    <button type="submit" class="btn btn-primary">확인</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:if="${event.isOwner(#authentication.principal.account)}" class="modal fade" id="edit-enrollment-modal" tabindex="-1" aria-labelledby="editEnrollmentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editEnrollmentModalLabel" th:text="${event.title}"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>참가 신청을 관리합니다.</p>
                <p>수락 버튼을 클릭해 참가신청을 허용합니다.<p>
                <p>체크인 버튼을 클릭해 참여완료 여부를 표시합니다. 체크인이 되면 참여취소가 불가능해집니다<p>
                <p>취소 버튼을 클릭해 참가신청또는 체크인을 취소합니다.<p>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">닉네임</th>
                        <th scope="col">참여신청</th>
                        <th scope="col">체크인</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="enrollment : ${event.enrollments}">
                            <th scope="row" th:text="${enrollmentStat.count}"></th>
                            <td th:text="${enrollment.account.nickname}"></td>
                            <td>
                                <label th:if="${enrollment.canAccept()}" th:for="${'accept_' + enrollment.id}"><a class="btn btn-sm btn-primary">수락</a></label>
                                <form th:if="${enrollment.canAccept()}" class="d-none" method="post" th:action="@{'/study/' + ${study.path} + '/event/' + ${event.id} + '/enrollment/' + ${enrollment.id} + '/accept'}">
                                    <button th:id="${'accept_' + enrollment.id}" type="submit"></button>
                                </form>
                                <label th:if="${enrollment.canReject()}" th:for="${'reject_' + enrollment.id}"><a class="btn btn-sm btn-danger">취소</a></label>
                                <form th:if="${enrollment.canReject()}" class="d-none" method="post" th:action="@{'/study/' + ${study.path} + '/event/' + ${event.id} + '/enrollment/' + ${enrollment.id} + '/reject'}">
                                    <button th:id="${'reject_' + enrollment.id}" type="submit"></button>
                                </form>
                            </td>
                            <td>
                                <label th:if="${enrollment.canAttend()}" th:for="${'accept_' + enrollment.id}"><a class="btn btn-sm btn-primary">체크인</a></label>
                                <form th:if="${enrollment.canAttend()}" class="d-none" method="post" th:action="@{'/study/' + ${study.path} + '/event/' + ${event.id} + '/enrollment/' + ${enrollment.id} + '/check-in'}">
                                    <button th:id="${'accept_' + enrollment.id}" type="submit"></button>
                                </form>
                                <label th:if="${enrollment.canCancelAttend()}" th:for="${'reject_' + enrollment.id}"><a class="btn btn-sm btn-danger">취소</a></label>
                                <form th:if="${enrollment.canCancelAttend()}" class="d-none" method="post" th:action="@{'/study/' + ${study.path} + '/event/' + ${event.id} + '/enrollment/' + ${enrollment.id} + '/cancel-check-in'}">
                                    <button th:id="${'reject_' + enrollment.id}" type="submit"></button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>