<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/studyLayout :: layout (_, ~{::body}, ~{::banner})}">

<banner>
    <div class="row" th:if="${study.useBanner}">
        <img th:if="${!#strings.isEmpty(study.banner)}" th:src="@{${study.banner}}" class="img-fluid" alt="banner">

    </div>
    <div class="row" th:if="${!study.useBanner}">
        <img th:if="${#strings.isEmpty(study.banner)}" src="/static/resources/images/default_banner.png"
             th:src="@{/resources/images/default_banner.png}" class="img-fluid" alt="banner">
    </div>
</banner>

<body>
    <div class="row pt-4 text-start justify-content-center bg-light">
        <div class="row justify-content-between col-10">
            <div class="col-6">
                <a class="text-decoration-none" th:href="@{'/study/' + ${study.path}}">
                    <span class="h2" th:text="${study.title}">스터디 이름</span>
                </a>
            </div>
            <div class="col-4 text-end justify-content-end">
                <span th:if="${!study.published}" class="d-inline-block" title="스터디 공개 준비중"
                      tabindex="0" data-toggle="tooltip" data-placement="bottom">
                    <button type="button" class="btn btn-primary btn-sm pe-none disabled">DRAFT</button>
                </span>
                <span th:if="${study.closed}" class="d-inline-block" title="스터디 종료함"
                      tabindex="0" data-toggle="tooltip" data-placement="bottom">
                    <button type="button" class="btn btn-primary btn-sm pe-none disabled">CLOSED</button>
                </span>
                <span th:if="${!study.recruiting}" class="d-inline-block m-lg-1" title="팀원 모집중 아님"
                      tabindex="0" data-toggle="tooltip" data-placement="bottom">
                    <button type="button" class="btn btn-primary btn-sm pe-none disabled">OFF</button>
                </span>
                <span sec:authorize="isAuthenticated()" th:if="${study.isJoinable(#authentication.principal)}"
                      class="btn-group" role="group">
                    <a class="btn btn-primary" th:href="@{'/study/' + ${study.path} + '/join'}">스터디 가입</a>
                    <a class="btn btn-outline-primary" th:href="@{'/study/' + ${study.path} + '/members'}"
                       th:text="${study.members.size()}">1</a>
                </span>
                <span sec:authorize="isAuthenticated()" th:if="${!study.closed && study.isMember(#authentication.principal)}"
                      class="btn-group" role="group">
                    <a class="btn btn-outline-warning" th:href="@{'/study/' + ${study.path} + '/leave'}">스터디 탈퇴</a>
                    <a class="btn btn-outline-primary" th:href="@{'/study/' + ${study.path} + '/members'}"
                       th:text="${study.members.size()}">1</a>
                </span>
                <span sec:authorize="isAuthenticated()"
                      th:if="${study.published && !study.closed && study.isManager(#authentication.principal)}">
                    <a class="btn btn-outline-primary" th:href="@{'/study/' + ${study.path} + '/new-event'}">
                        <i class="fa fa-plus"></i> 모임 만들기
                    </a>
                </span>
            </div>
        </div>
        <div class="row bg-light justify-content-center">
            <div class="col-10">
                <p class="lead" th:text="${study.bio}"></p>
            </div>
        </div>
        <div class="row bg-light justify-content-center">
            <div class="col-10">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><i class="fa fa-info-circle" aria-hidden="true"></i>소개</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-users" aria-hidden="true"></i>구성원</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>모임</a>
                    </li>
                    <li class="nav-item" th:if="${isManager}">
                        <a class="nav-link" aria-disabled="true"><i class="fa fa-cog" aria-hidden="true"></i>설정</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row bg-white justify-content-center">
        <div class="col-10">
            <div id="explanation" th:utext="${study.explanation}">Summernote</div>
        </div>
    </div>
    <script type="application/javascript">
        $(function (){
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
</body>
</html>