<!doctype html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        th:fragment="layout (template, title)">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/resources/images/favicon.ico" th:href="@{/resources/images/favicon.ico}">

    <title th:text="${title}">Study Olle</title>
    <link rel="stylesheet" href="../../static/resources/node_modules/bootstrap/dist/css/bootstrap.min.css" th:href="@{/resources/node_modules/bootstrap/dist/css/bootstrap.min.css}">
    <script src="/static/resources/node_modules/jquery/dist/jquery.min.js" th:src="@{/resources/node_modules/jquery/dist/jquery.min.js}"></script>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" th:href="@{/}">
            <img src="../../static/resources/images/logo_sm.png" th:src="@{/resources/images/logo_sm.png}" alt="Logo" width="30" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <form class="navbar-nav me-auto d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="스터디 찾기" aria-label="Search">
                <button class="btn btn-outline-success text-nowrap" type="submit">검색</button>
            </form>
            <ul class="navbar-nav d-flex">
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}">로그인</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/sign-up}">가입</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link">알림</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link btn btn-outline-primary">스터디 개설</a>
                </li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        프로필
                    </a>
                    <ul class="dropdown-menu dropdown-menu">
                        <h6 class="dropdown-header">
                            <span sec:authentication="principal.account.nickname">Nickname</span>
                        </h6>
                        <a class="dropdown-item">프로필</a>
                        <a class="dropdown-item">스터디</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">설정</a>
                        <form class="form-check-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                            <button class="dropdown-item" type="submit">로그아웃</button>
                        </form>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <th:block th:insert="${template}" />
</div>

<script src="/static/resources/node_modules/bootstrap/dist/js/bootstrap.min.js" th:src="@{/resources/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
</body>

</html>