<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script type="application/javascript" th:fragment="ajax_csrf (token, headerName)">
    $(function (){
        const csrfToken = "[[${token}]]";
        const csrfHeader = "[[${headerName}]]";
        $(document).ajaxSend(function (e, xhr, options){
            xhr.setRequestHeader(csrfHeader, csrfToken);
        })
    })
</script>

<script type="application/javascript" th:fragment="validate">
    $(function (){
        const forms = $(".needs-validation");

        if(forms instanceof Array){
            forms.map(form=>{
                validation(form[0]);
            })
        }
        else {
            validation(forms[0])
        }
    })

    function validation(form) {
        $(form).submit((event) => {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }
            $(form).addClass("was-validated");
        })
    }
</script>

<div th:fragment="summernote-explanation (tagId)">
    <script src="/static/resources/node_modules/summernote/dist/summernote-bs5.min.js" th:src="@{/resources/node_modules/summernote/dist/summernote-bs5.min.js}"></script>
    <script type="application/javascript">
        $(document).ready(function() {
            const tagId = "[[${tagId}]]";
            $(tagId).summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
                placeholder: "스터디 목표, 일정, 진행 방식, 사용할 교재 또는 인터넷 강좌 그리고 모집중인 스터디원 등 스터디에 대해 자세히 적어주세요.",
                tabSize: 2,
                height: 300
            });
        });
    </script>
</div>

<div th:fragment="cropper">
    <link href="/static/resources/node_modules/cropper/dist/cropper.min.css" th:href="@{/resources/node_modules/cropper/dist/cropper.min.css}" rel="stylesheet">
    <script src="/static/resources/node_modules/cropper/dist/cropper.min.js" th:src="@{/resources/node_modules/cropper/dist/cropper.min.js}"></script>
    <script src="/static/resources/node_modules/jquery-cropper/dist/jquery-cropper.min.js" th:src="@{/resources/node_modules/jquery-cropper/dist/jquery-cropper.min.js}"></script>
</div>

</html>