<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script type="application/javascript" th:fragment="ajax_csrf (token, headerName)">
    $(function (){
        const csrfToken = "[[${token}]]";
        const csrfHeader = "[[${headerName}]]";
        $(document).ajaxSend(function (e, xhr, options){
            xhr.setRequestHeader(csrfHeader, csrfToken);
        })
    })
</script>

<script type="application/javascript" th:fragment="validate">
    $(function (){
        const forms = $(".needs-validation");

        if(forms instanceof Array){
            forms.map(form=>{
                validation(form[0]);
            })
        }
        else {
            validation(forms[0])
        }
    })

    function validation(form) {
        $(form).submit((event) => {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }
            $(form).addClass("was-validated");
        })
    }
</script>

<div th:fragment="summernote-explanation (tagId)">
    <script src="/static/resources/node_modules/summernote/dist/summernote-bs5.min.js" th:src="@{/resources/node_modules/summernote/dist/summernote-bs5.min.js}"></script>
    <script type="application/javascript">
        $(document).ready(function() {
            const tagId = "[[${tagId}]]";
            $(tagId).summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
                placeholder: "스터디 목표, 일정, 진행 방식, 사용할 교재 또는 인터넷 강좌 그리고 모집중인 스터디원 등 스터디에 대해 자세히 적어주세요.",
                tabSize: 2,
                height: 300
            });
        });
    </script>
</div>

<div th:fragment="cropper">
    <link href="/static/resources/node_modules/cropper/dist/cropper.min.css" th:href="@{/resources/node_modules/cropper/dist/cropper.min.css}" rel="stylesheet">
    <script src="/static/resources/node_modules/cropper/dist/cropper.min.js" th:src="@{/resources/node_modules/cropper/dist/cropper.min.js}"></script>
    <script src="/static/resources/node_modules/jquery-cropper/dist/jquery-cropper.min.js" th:src="@{/resources/node_modules/jquery-cropper/dist/jquery-cropper.min.js}"></script>
</div>

<div th:fragment="tagify_topic (url)">
    <script src="/static/resources/node_modules/@yaireo/tagify/dist/tagify.min.js" th:src="@{/resources/node_modules/@yaireo/tagify/dist/tagify.min.js}"></script>
    <script type="application/javascript">
        $(function (){
            const input = document.getElementById('topic');

            const tagify = new Tagify(input, {
                pattern: /^[가-힣A-Za-z]{2,20}$/,
                whitelist: JSON.parse(document.querySelector("#whiteList").textContent),
                dropdown: {
                    enabled : 0
                }
            })

            function tagRequest(url, title, tag) {
                tagify.tagLoading(tag, true);
                $.ajax({
                    url: '[[${url}]]' + url,
                    data: JSON.stringify({'title' : title}),
                    autocomplete: {
                        enabled: true,
                        rightKey: true
                    },
                    contentType: "application/json",
                    method: "post",
                }).done(function(data, status){
                    console.log(`status is ${status}`);
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    console.log(`${errorThrown} and status is ${textStatus}`);
                }).always(function (){
                    tagify.tagLoading(tag, false);
                })

            }

            function onAdd(e) {
                tagRequest("/add", e.detail.data.value, e.detail.tag);

            }

            function onRemove(e) {
                tagRequest("/remove", e.detail.data.value, e.detail.tag);
            }

            tagify.on("add", onAdd);
            tagify.on("remove", onRemove);
            tagify.DOM.input.classList.add('form-control');
            tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
        })
    </script>
</div>

<div th:fragment="tagify_zone (url)">
    <script src="/static/resources/node_modules/@yaireo/tagify/dist/tagify.min.js" th:src="@{/resources/node_modules/@yaireo/tagify/dist/tagify.min.js}"></script>
    <script type="application/javascript">
        $(function (){
            const input = document.getElementById('zone');

            const tagify = new Tagify(input, {
                whitelist: JSON.parse($("#whiteList").text()),
                dropdown: {
                    enabled : 0
                },
                enforceWhitelist: true
            })
            function tagRequest(url, zoneName, tag) {
                tagify.tagLoading(tag, true);
                $.ajax({
                    url: "[[${url}]]" + url,
                    data: JSON.stringify({"zoneName" : zoneName}),
                    autocomplete: {
                        enabled: true,
                        rightKey: true
                    },
                    contentType: "application/json",
                    method: "post",
                }).done(function(data, status){
                    console.log(`status is ${status}`);
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    console.log(`${errorThrown} and status is ${textStatus}`);
                }).always(function (){
                    tagify.tagLoading(tag, false);
                })
            }
            function onAdd(e) {
                tagRequest("/add", e.detail.data.value, e.detail.tag);
            }
            function onRemove(e) {
                tagRequest("/remove", e.detail.data.value, e.detail.tag);
            }
            tagify.on("add", onAdd);
            tagify.on("remove", onRemove);
            tagify.DOM.input.classList.add('form-control');
            tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
        })
    </script>
</div>

</html>