<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script type="application/javascript" th:fragment="ajax_csrf (token, headerName)">
    $(function (){
        const csrfToken = "[[${token}]]";
        const csrfHeader = "[[${headerName}]]";
        $(document).ajaxSend(function (e, xhr, options){
            xhr.setRequestHeader(csrfHeader, csrfToken);
        })
    })
</script>

<script type="application/javascript" th:fragment="validate">
    $(function (){
        const forms = $(".needs-validation");

        if(forms instanceof Array){
            forms.map(form=>{
                validation(form[0]);
            })
        }
        else {
            validation(forms[0])
        }
    })

    function validation(form) {
        $(form).submit((event) => {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }
            $(form).addClass("was-validated");
        })
    }
</script>

</html>