<!doctype html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="layout (title, content, alert)">


<head th:replace="~{fragments/header :: header (${title})}"></head>
<body class="bg-white">
<nav th:replace="~{fragments/header :: main-nav}"></nav>

<th:block th:insert="${alert}" />
<div>
    <th:block th:insert="${content}" />
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script th:replace="~{fragments/scripts :: validate}"></script>
</body>
</html>