<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (_, ~{::body}, ~{})}">

<body>
<div class="py-5 text-center">
    <p class="lead">스터디올래 이메일 확인</p>
    <div th:if="${error}" class="alert alert-danger" role="alert" >
        이메일 확인 링크가 정확하지 않습니다.
    </div>
    <h2 th:if="${error == null}">
        이메일을 확인했습니다. <span th:text="${ordreByJoinedAt}"></span>번째 회원,
        <span th:text="${nickname}"></span>님 회원가입을 축하합니다!
    </h2>
    <small th:if="${error == null}" class="text-info">이제부터 가입할 때 사용한 이메일 또는 닉네임과 패스워드로 로그인할 수 있습니다</small>
</div>
</body>