<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/layout :: layout (_, ~{::body}, ~{})}">

<body>
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid pt-5">
        <h1 class="display-5 fw-bold">스터디올래</h1>
        <p class="col-md-8 fs-4">태그와 지역 기반으로 스터디를 찾고 참여하세요.<br>스터디 모임 관리 기능을 제공합니다.</p>
        <a class="btn btn-primary btn-lg" type="button" th:href="@{/sign-up}">회원가입</a>
    </div>
</div>
<div class="pt-5 text-center" th:if="${studyList.isEmpty()}">
    <h2>
        스터디가 없습니다. 첫번째 스터디를 생성해보세요!
    </h2>
</div>
<div class="pt-5">
    <div th:if="${!studyList.isEmpty()}" th:replace="fragments/components.html :: study-list (studyList=${studyList})"></div>
</div>
</body>
</html>