<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/layout :: layout (_, ~{::body}, ~{::alert})}">

<alert>
    <div class="alert alert-warning" role="alert" sec:authorize-expr="isAuthenticated()" th:if="${!#authentication.principal.account.emailVerified}">
        스터디올레 가입을 완료하려면 <a th:href="@{/check-email}">계정 인증 이메일을 확인</a>하세요
    </div>
</alert>

<body>
<div class="py-5 text-center">
    <h2>
        <span sec:authorize-expr="isAuthenticated()">
            <span sec:authentication="principal.account.nickname">Nickname</span>님
        </span> 환영합니다
    </h2>
</div>

</body>
</html>