<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/layout :: layout (_, ~{::body}, ~{})}">

<body>
<div class="py-5 text-center">
    <p class="lead"><span th:text="${appName}"></span></p>
    <h2>패스워드 없이 로그인하기</h2>
</div>
<div class="row justify-content-center">
    <form class="needs-validation col-sm-6" method="post" th:action="@{/login-without-password}" novalidate>
        <div th:if="${success}" class="alert alert-success" role="alert" >
            로그인 링크를 보냈습니다. 이메일을 확인해주세요.
        </div>
        <div th:if="${error}" class="alert alert-danger" role="alert" >
            <span th:text="${error}">error!</span>
        </div>

        <div class="form-group">
            <label for="email">가입할 때 사용한 이메일</label>
            <input id="email" type="email" class="form-control" name="email"
                   placeholder="your@email.com" aria-describedby="emailHelp" required>
            <small id="emailHelp" class="form-text text-muted">
                가입할 때 사용한 이메일을 입력하세요.
            </small>
            <small class="invalid-feedback">이메일을 입력하세요.</small>
        </div>

        <div class="form-group d-grid gap-2 mt-3">
            <button type="submit" class="btn btn-success ">로그인 링크 보내기</button>
        </div>

        <div class="form-group">
            <small id="submitHelp" class="form-text text-muted">
                <span>스터디 올래를 처음 오신거면 <a th:href="@{/sign-up}">계정을 먼저 만드세요</a>.</span>
            </small>
        </div>
    </form>
</div>
</body>