<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/layout :: layout (_, ~{::body}, ~{::alert})}">

<alert>
    <div class="alert alert-warning" role="alert" sec:authorize-expr="isAuthenticated()" th:if="${!#authentication.principal.account.emailVerified}">
        스터디올레 가입을 완료하려면 <a th:href="@{/check-email}">계정 인증 이메일을 확인</a>하세요
    </div>
</alert>

<body>
<div class="py-5 text-center">
    <p class="lead"><span th:text="${appName}"></span> 이메일 로그인</p>
    <h2 th:if="${error == null}">
        <span>이메일로 로그인 했습니다. <a th:href="@{/settings/password}">패스워드를 변경</a>하세요</span>
    </h2>
    <h2 th:if="${error != null}">
        <span>로그인 링크가 정확하지 않습니다.</span>
    </h2>
</div>

</body>
</html>