<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/layout :: layout (_, ~{::body}, ~{})}">

<body>
<div class="py-5 text-center" th:if="${totalItems != 0}">
    <h2 th:if="${keyword != ''}">
        <span class="bg-warning" th:text="${keyword}"></span>에 해당하는 스터디를
        <span th:text="${totalItems}"></span>개 찾았습니다.
    </h2>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            검색 결과 정렬 방법
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item"
                   th:classappend="${#strings.equals(sortProperty, 'publishedAt')} ? 'active'"
                   th:href="@{/search/study(keyword=${keyword},direction='desc',sortProperty='publishedAt')}">최신순</a></li>
            <li><a class="dropdown-item"
                   th:classappend="${#strings.equals(sortProperty, 'memberCount')} ? 'active'"
                   th:href="@{/search/study(keyword=${keyword},sortProperty='memberCount')}">멤버순</a></li>
        </ul>
    </div>
</div>

<div class="py-5 text-center" th:if="${totalItems == 0}">
    <h2>
        <span class="bg-warning" th:text="${keyword}"></span>에 해당하는 스터디가 없습니다.
    </h2>
</div>
<div class="container text-center" th:if="${totalItems != 0}">
    <div class="row row-cols-3">
        <div th:each="study : ${studyList}" class="col">
            <div class="card mb-3">
                <img th:if="${!study.useBanner}" th:src="@{/resources/images/default_banner.png}"
                     class="card-img-top" alt="banner">
                <img th:if="${study.useBanner && !#strings.isEmpty(study.banner)}" th:src="@{${study.banner}}"
                     class="card-img-top" alt="banner">
                <img th:if="${study.useBanner && #strings.isEmpty(study.banner)}" th:src="@{/resources/images/default_banner.png}"
                     class="card-img-top" alt="banner">
                <div class="card-body text-start">
                    <h5 class="card-title"><a th:href="@{'/study/'+${study.path}}" th:text="${study.title}"></a></h5>
                    <p class="card-text" th:text="${study.bio}"></p>
                    <p>
                        <span th:each="topic: ${study.topics}"
                              class="fw-light text-monospace badge badge-pill text-bg-info my-1 mx-1">
                            <a th:href="@{'/search/topic/' + ${topic.title}}" class="text-decoration-none text-white">
                                <i class="fa fa-tag"></i> <span th:text="${topic.title}">Topic</span>
                            </a>
                        </span>
                        <span th:each="zone: ${study.zones}"
                              class="fw-light text-monospace badge badge-pill text-bg-primary my-1 mx-1">
                            <a th:href="@{'/search/zone/' + ${zone.id}}" class="text-decoration-none text-white">
                                <i class="fa fa-globe"></i> <span th:text="${zone.localNameOfCity}">City</span>
                            </a>
                        </span>
                    </p>
                    <div class="justify-content-between d-flex">
                        <p class="card-text text-start"><small class="text-body-secondary"><i class="fa fa-user-circle-o" aria-hidden="true"></i> <span th:text="${!#lists.isEmpty(study.members) ? study.members.size() : 0}"></span>명</small></p>
                        <p class="card-text text-end"><small class="text-body-secondary" th:text="${#temporals.format(study.createdAt, 'yyyy년 MM월 dd일')}"></small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace=":: paging(1, '<<', '첫 페이지')"></a>
            </li>
            <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace=":: paging(${currentPage - 1}, '<', '이전 페이지')"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                <a th:replace=":: paging(${page}, ${page}, ${page} + '페이지')"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace=":: paging(${currentPage + 1},'>', '다음 페이지')"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace=":: paging(${totalPages}, '>>', '마지막 페이지')"></a>
            </li>
        </ul>
    </nav>
</div>
</body>
<a th:fragment="paging(pageNum, label, tooltip)" class="page-link"
   th:href="@{/search/study(keyword=${keyword},pageNum=${pageNum},sortProperty=${sortProperty})}"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>
</html>