<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/layout :: layout (_, ~{::body}, ~{::alert})}">

<alert>
    <div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert" >
        <span>패스워드를 성공적으로 수정했습니다!</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</alert>

<body>
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="~{ fragments/settingsMenu ::menu (${#httpServletRequest.requestURI})}"></div>
        </div>
        <div class="col-8">
            <div class="row">
                <h2 class="col-sm-12">알림설정</h2>
                <div class="border-top"></div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <form id="passwordForm" class="needs-validation" th:action="@{/settings/password}" th:object="${passwordUpdateForm}" method="post" novalidate>
                        <div class="form-group mb-3">
                            <label for="password">새 패스워드</label>
                            <input id="password" type="password" class="form-control" th:field="*{password}"
                                   aria-describedby="passwordHelp" required minlength="8" maxlength="50">
                            <small class="invalid-feedback">변경할 패스워드를 입력하세요.</small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>
                        </div>

                        <div class="form-group mb-3">
                            <label for="confirmPassword">새 패스워드 확인</label>
                            <input id="confirmPassword" type="password" class="form-control" aria-describedby="passwordHelp" required minlength="8" maxlength="50">
                            <small class="invalid-feedback">새 패스워드를 한번 더 입력하세요.</small>
                            <small id="passwordMismatch" class="form-text text-danger d-none">패스워드가 일치하지 않습니다.</small>
                        </div>

                        <div id="passwordHelpBlock" class="form-text">
                            8자 이상 50자 이내로 입력하세요. 영문자, 숫자, 특수기호를 사용할 수 있으며 공백은 사용할 수 없습니다.
                        </div>

                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-outline-primary">수정하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript">

        $(function(){
            $("#passwordForm").submit((event) => {
                const password = document.getElementById("password").value;
                const confirmPassword = document.getElementById("confirmPassword").value;

                if (password !== confirmPassword) {
                    $("#passwordMismatch").removeClass("d-none");
                    event.preventDefault();
                    event.stopPropagation();
                }
            })
        })
    </script>
</body>
</html>